@model CommonLayer.Model.EmployeeModel

@{
    ViewData["Title"] = "Create";
}
<div class="head" flex-direction:row;>

    <img src="~/assets/logo.png" style="width:50px;height:47px" />

    <span style="color: #82A70C">EMPLOYEE</span>
    <span style="color: #42515F"> PAYROLL</span>

</div>

<div class="createbody">
    <h3>Create New Employee</h3>
    <br/>
    <div class="row1">

        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="createform-group">
                    <label asp-for="EmpId" class="control-label"></label>
                    <input asp-for="EmpId" class="form-control" />
                    <span asp-validation-for="EmpId" class="text-danger"></span>
                </div>
                <div class="createform-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="createform-group" >
                    <label asp-for="ProfileImage" class="flex-column"></label>
                    <div>
                        @Html.RadioButtonFor(model => model.ProfileImage, "~/assets/Male (1).png")
                        <img class="Profileimage-1" src="~/Assets/Male (1).png" style="width:35px;height:35px"/>
                        @Html.RadioButtonFor(model => model.ProfileImage, "~/assets/Female (2).png")
                        <img class="Profileimage-1" src="~/Assets/Female (2).png" style="width:35px;height:35px"/>
                        @Html.RadioButtonFor(model => model.ProfileImage, "~/assets/Male (2).png ")
                        <img class="Profileimage-1" src="~/Assets/Male (2).png" style="width:35px;height:35px"/>
                        @Html.RadioButtonFor(model => model.ProfileImage, "~/assets/Female (4).png ")
                        <img class="Profileimage-1" src="~/Assets/Female (4).png " style="width:35px;height:35px" />

                    </div>
                    <span asp-validation-for="ProfileImage" class="text-danger"></span>
                </div>
                <div class="createform-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="createform-group">
                    <label asp-for="Department" class="control-label"></label>
                    <input asp-for="Department" class="form-control" />
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
                <div class="createform-group">
                    <label asp-for="Salary" class="control-label"></label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
                <div class="createform-group">
                    <label asp-for="Startdate" class="control-label"></label>
                    <input asp-for="Startdate" class="form-control" />
                    <span asp-validation-for="Startdate" class="text-danger"></span>
                </div>
                <div class="createform-group">
                    <label asp-for="Notes" class="control-label"></label>
                    <input asp-for="Notes" class="form-control" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
                <br/>
                <div class="createform-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <input type="Reset" value="Reset" class="btn-danger" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    </div>